.btn {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

.primary {
  background-color: var(--color-brand--2);
  padding: 1rem 2.5rem;
  color: var(--color-light--2);
  font-size: 1.5rem;
  font-weight: 600;
}

.secondary {
  background-color: var(--color-light--2);
  padding: 1rem 1rem;
  color: var(--color-dark--0);
  font-size: 1.5rem;
  font-weight: 200;
}

.third {
  background-color: var(--color-light--2);
  padding: 0.7rem 1rem;
  color: var(--color-dark--0);
  font-size: 1rem;
  font-weight: 600;
}

.third:hover {
  background-color: var(--color-brand--2);
  color: var(--color-light--2);
  transition-duration: 0.7s;
}

.third:disabled {
  background-color: var(--color-light--1);
  color: var(--color-dark--0);
  cursor: not-allowed;
}
