.locationList {
  width: 100%;
  table-layout: fixed; /* Imposta la larghezza delle colonne in base alla larghezza della tabella */
  border-collapse: collapse;
  text-align: center;
  overflow-x: auto; /* Abilita lo scroll orizzontale se il contenuto è più lungo */
}

.locationList th,
.locationList td {
  border: 1px solid #ddd;
  width: 33%; /* Imposta la larghezza delle colonne al 33% */
  padding: 8px;
}

/* Rimuovi la larghezza fissa per l'header */
.locationList th {
  width: auto;
}

.locationList th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #f2f2f2;
  color: black;
}

.locationList tbody tr:nth-child(even) {
  background-color: var(--color-light--1);
  color: var(--color-light--2);
}

/*
.locationList tbody tr:hover {
  background-color: #ddd;
}*/

.locationList th,
.locationList td {
  text-align: center;
  vertical-align: middle;
}

.container {
  position: relative;
}

.buttons {
  text-align: right;
  margin: 10px 0 0 0;
}
